<div class="text-center">
    <h2 class="text-danger">🚫 لا تملك صلاحية الوصول</h2>
    <p>ليس لديك الصلاحية لدخول هذه الصفحة</p>
    <a href="/Home/Index" class="btn btn-primary">العودة للرئيسية</a>

</div>