@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

@if (TempData["Success"] != null)
{
    <div id="successMessage"
         class="alert alert-success text-center position-fixed start-50 translate-middle-x"
         style="top: 20px; z-index: 9999; font-size: 18px; min-width: 300px;">
        @TempData["Success"]
    </div>
}




<style>
    .index-background {
        position: fixed;
        top: 0;
        left: 230px; 
        width: calc(100vw - 230px);
        height: 100vh;
        z-index: 0;
        background-color: white;
    }

        .index-background img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>

<div class="index-background">
    <img src="@Url.Content("~/Hospital.png")" alt="صورة المستشفى" />
</div>
@section scripts{
<script>
    setTimeout(function () {
        var alert = document.getElementById("successMessage");
        if (alert) {
            alert.style.transition = "opacity 0.5s ease-out";
            alert.style.opacity = '0';
            setTimeout(function () {
                alert.remove();
            }, 500);
        }
    }, 3000);
</script>
}