@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<a href="d:\visual studio\hospital project\hospital project\views\home\privacy.cshtml">d:\visual studio\hospital project\hospital project\views\home\privacy.cshtml</a>