@using Hospital_Project.Entities.UserDTOs
@model VerifyCodeViewModel

@{
    ViewData["Title"] = "التحقق لإعادة تعيين كلمة المرور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2 class="text-center mb-4">التحقق لإعادة تعيين كلمة المرور</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger d-flex align-items-center text-center justify-content-center" role="alert">
        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@modelError.ErrorMessage</div>
        }
    </div>
}
<form asp-action="ResetPasswordCode" method="post" class="mb-3">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="Code">كود التحقق</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3">تأكيد الكود</button>
    </div>
</form>

<form asp-action="ResendResetPassword" method="post">
    <input type="hidden" name="email" value="@Model.Email" />
    <div class="text-center">
        <button type="submit" class="btn btn-link">إعادة إرسال الكود</button>
    </div>
</form>
